.product {
  object-fit: contain;
}

.product__rowOne {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  width: 100%;
}
.product__rowOne::-webkit-scrollbar {
  display: none;
}
.product__rowTwo::-webkit-scrollbar
{
  display: none;
}
.product__rowThree::-webkit-scrollbar
{
  display: none;
}

.product__rowTwo {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  width: 100%;
}
.product__rowThree {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  width: 100%;
}
